body {
    background-color: rgb(57, 63, 119);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
  }
  
  .header {
    margin-top: 10px;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
  }
  
  .header a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  .header a:hover{
    background-color: rgb(167, 209, 41);
    color: crimson;
  }
  
  .Programmas2 {
    padding: 30px;
    text-align: center;
    font-size: 25px;
  }
  
  .content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 102px;
  }
  
  #apraksts {
    margin-top: 10px;
    float: left;
    background-color: rgb(25, 49, 109);
  }
  
  #par {
    height: auto;
    background-color: black;
    color: white;
  }
  
  button{
    float: middle;
    font-size: 16px;
    color: white;
    text-align: center;
    background-color: rgb(43, 156, 179);
    border-radius: 10px;
    padding: 14px 16px
  }
  #svari{

    margin-top: 10px;
    float: left;
    background-color: rgb(25, 49, 109);
  }